select.input-smp {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

button#btnShowAllNodes{
    margin-top: 5px;
}
.col-auto{
margin-top: 10px;
}

label{
    color: rgb(49, 49, 49)
}

label#lblClickNode {
    font-weight: 100;
    font-size: 12px;
}
text{
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    -webkit-touch-callout: none;
}