html {
	height: 100%;
}

body {
	background-color: #F6F6F6;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

@font-face {
	font-family: quivira;
	src: url("fonts/Quivira.otf") format("opentype");
}

@font-face {
	font-family: 'font-awesome';
	src: url("fonts/FontAwesome.ttf") format("opentype");
}

#visualizer-table {
	height: 100%;
	width: 100%;
}

#visualizer-table td {
	height: 100%;
}

#index-content {
	width: 100%;
	height: calc(100% - 210px);
	overflow: auto;
}

#index-content p {
	margin-left: 70px;
}

#index-content h1 {
	margin-left: 30px;
}

#colorstrip {
	height: 20px;
	width: 250px;
	margin-left: 70px;
	background: linear-gradient(to right, blue, red);
}

#tud-logo {
	float: right;
	height: 50px;
}

#index-header {
	background-color: #F44336;
	color: #fff;
	height: 200px;
}

#index-header button {
	color: black;
}

#code-container {
	height: 100%;
	overflow: auto;
	background-color: #707070;
}

#graph-container {
	height: 100%;
	width: 100%;
}

.tab-content {
	height: 100%;
	width: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

svg text {
	font-weight: 300;
	/*font-size: 14px;*/
	font-family: FontAwesome;
}

.edgePath path {
	stroke: #333;
	fill: none;
	stroke-width: 1.5px;
}

#graph {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#legend-table {
	width: 100%;
	height: 220px;
	display: none;
}

#legend-container {
	height: 220px;
	width: 600px;
}

#help-container {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.node {
	cursor: pointer;
	border-radius: 5px;
}

.dependency-label {
	size: 20px;
}

.arrowhead {
	stroke: black;
	fill: black;
	stroke-width: 1.5px;
}

.myMarker {
	position: absolute;
	background: rgba(100, 200, 100, 0.5);
	z-index: 20
}

#ace-editor {
	margin: 0 auto;
	height: 100%;
}

.editor_read_decoration {
	border-radius: 30px 0px 0px 30px;
	background-color: blue;
}

.editor_write_decoration {
	border-radius: 0px 30px 30px 0px;
	background-color: green;
}

.editor_read_write_decoration {
	border-radius: 20px 20px 20px 20px;
	background: linear-gradient(to left, green 0%, green 50%, blue 50%, blue 50%, blue
		100%);
}

.ace_scrollbar {
	height: 5px !important;
}

#svg-canvas {
	margin: 0 auto;
	height: 100%;
}

.label {
	font: 10px sans-serif;
	color: black;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.control.glyphicon {
	position: static;
}

#tooltip-container {
	position: absolute;
	text-align: center;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 3px;
	pointer-events: none;
}

#node-info-container {
	z-index: 1000000;
	position: absolute;
	top: 40px;
	right: 5px;
	display: none;
	background-color: #F5F5DC;
	border-radius: 5px;
	padding: 10px;
}

#node-info-table td {
	padding: 7px;
}

#code-view {
	height: 100%;
	width: 100%;
}

#file-select option {
	font-size: 22px;
}

#flow-graph-container {
	height: 100%;
	width: 100%;
}

a {
	cursor: pointer;
}

#dependency-container {
	width: 100%;
	max-height: 100px;
	overflow: auto;
	text-align: center;
}

.variable-container {
	width: 100%;
	max-height: 100px;
	overflow: auto;
	text-align: center;
}

#colorstrip {
	height: 20px;
	width: 250px;
	background: linear-gradient(to right, blue, red);
}

#file-select-container {
	background-color: #b3b3cc;
}

#settings-container{
	background-color: #f3ecec;
	height: 100%;
	padding: 5px;
	padding-top: 10px;
}
.jstree-icon.glyphicon-folder-open {
	color: #e6e600;
}

.jstree-icon.glyphicon-file {
	color: white;
}

#a_pipeline {
	cursor:pointer;
}
#a_doAll {
	cursor:pointer;
}
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .goodDependency { background-color: #0000ff; }
.legend .badDependency { background-color: #ff0000; }
.legend .dataflowDependency {background-color: #00ff00}

td#tdlblNode {
    background-color: #2E2E2E;
}

.pretty .state label{
	color: #C7C7C7;
}

div#lblCaption{
	margin-bottom: 0px;
	color:  #C7C7C7;
}
p.noMargin{
	margin-bottom: 0px;
}


div#NodeCaptionContainer{     
    -webkit-animation: fadeAndScale .7s ease-in-out forwards;
    animation: fadeAndScale .7s ease-in-out forwards;
    text-shadow: 0 0 3px white, 0 0 3px white;
}
@keyframes fadeAndScale {
    from {
        opacity: 0;
		transform: scale(0.95,1);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
		text-shadow: 0 0 0 rgb(255, 255, 255);
    }
}