
      #txtPatternSearch {
      background-image: url('/css/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 95%;
      font-size: 12px;
      padding: 6px 4px 6px 10px;
      border: 1px solid #ddd;
      margin-bottom: 5px;
      color: gray;
      }

      #patternTable thead, #patternTable tbody {
            display: block;
      }

      #patternTable tbody {
            height: 160px;
            overflow-y: scroll
      }

      #patternTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 12px;
      color: rgba(51, 51, 51, 0.97);
      background: white;
      }
  
      #patternTable th, #patternTable td {
      text-align: left;
      padding: 12px;
      }
  
      #patternTable tr {
      border-bottom: 1px solid #ddd;
      background: white;
      }
  
      #patternTable th{
      cursor: pointer;
      }
      #patternTable tr.header, #patternTable tr:hover {
      background-color: #f1f1f1;
      }

      i.glyphicon {
            margin-right: 5px;
      }

      .containerSettings{
            width: 100%;
      }
      .settingsDiv{
            color: black;
            padding-top: 2px;
            padding-bottom: 2px;            
      }
      .settingsBottom{
            padding-bottom: 15px;
      }
      .settingsPanel-heading{
            margin-top: 20px;
      }

      .patternlogos{
            margin-bottom: 2px;
            margin-right: 5px;
      }

      .shelp-container-settings{
            margin-right: 10px;
      }

      .ul-settings{
            font-size: 12px;
      }